@charset "UTF-8";

html {
    overflow: hidden;
}

html, body {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    
}
/* a태그 눌렀을때 보라색 되는거 방지*/
a{
	color: #000000;
	text-decoration: none;
}

/* section css */
.section {
    width: 100%;
    height: 100%;
    position: relative;
}

#section1 {
    background-color: #FFFFFF;
}

#section2 {
    background-color: lightpink;
}

#section3 {
    background-color: coral;
}

#section4 {
    background-color: aqua;
}

#section5{
	background-color: green;
}

/* section1 안의 글들 감싸는부분 */
.container {
	display: flex;
    justify-content: center;
  	align-items: center;
  	height:100vh;
}

.container img{
	margin-right: 20px;
}

.content{
	width:930px;
}

.h3{
	font-size: 24px;
    font-weight: bold;
    color:#000000;
}

.basic{
	font-size: 16px;
    color:#000000;
}

.hash_tag_content{
	margin-top:20px;
}

.hash_tag{
	width : 40px;
	height: 20px;
	background-color: #0099ff; 
	color: #ffffff; 
	font-weight: bold;
	padding : 4px;
	border-radius: 5px;
	margin-right: 5px;
}



